html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

section.bottom {
  width: 400vw;
  height: 10vh;
  background-image: url(images/mario-map/mario-bg-bottom.jpg);
}

section.middle {
  width: 400vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.music {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: #fff;
  z-index: 1000;
}

.music i {
  font-size: 2rem;
  cursor: pointer;
}

.energy {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 30vw;
  height: 3vh;
  background-color: white;
  border-radius: 5px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.energy p {
  position: fixed;
  font-size: 1.3rem;
  padding-left: 1rem;
  font-weight: bold;
}

.energy .inner-energy {
  height: 3vh;
  width: 100%;
  background-color: #00ab00;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.energy .inner-energy.active {
  -webkit-animation: energyAnimation 4s linear;
          animation: energyAnimation 4s linear;
}

@-webkit-keyframes energyAnimation {
  0% {
    background-color: red;
  }
  20% {
    background-color: #00ab00;
  }
  40% {
    background-color: red;
  }
  60% {
    background-color: #00ab00;
  }
  80% {
    background-color: red;
  }
  100% {
    background-color: #00ab00;
  }
}

@keyframes energyAnimation {
  0% {
    background-color: red;
  }
  20% {
    background-color: #00ab00;
  }
  40% {
    background-color: red;
  }
  60% {
    background-color: #00ab00;
  }
  80% {
    background-color: red;
  }
  100% {
    background-color: #00ab00;
  }
}

.mario {
  width: 100px;
  height: 120px;
  position: absolute;
  left: 0;
  bottom: -1%;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  z-index: 100000000;
}

.mario img {
  width: 100px;
  height: 120px;
  z-index: 1000000000;
}

.cloud {
  width: 300px;
  height: 500px;
  background-image: url(images/mario-map/cloud.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.big-cloud {
  width: 600px;
  height: 500px;
  background-image: url(images/mario-map/big-cloud.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map {
  min-width: 100vw;
  height: 100%;
  background-image: url(images/mario-map/marioBack.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map.start-page .person-cloud .cloud {
  padding-top: 3rem;
  font-size: 1.5rem;
}

.map.start-page .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map.start-page .texts .cloud i {
  background-color: #00ab00;
  color: #fff;
  padding: 1rem;
  margin: 0.5rem;
}

.map.start-page .texts .cloud p {
  font-size: 1.5rem;
}

.about-me h2 {
  font-size: 3rem;
  padding-top: 2rem;
}

.about-me p {
  padding-top: 4.5rem;
  font-size: 1.5rem;
  width: 400px;
}

.skills {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skills .cloud {
  width: 200px;
  height: 150px;
}

.skills .cloud h2 {
  font-size: 3rem;
  padding-top: 2rem;
}

.skills .cloud p {
  font-size: 2rem;
}

.skills .skills-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .direk {
  overflow: visible;
  width: 15px;
  height: 55vh;
  background-color: #00ab00;
  position: absolute;
  bottom: 0;
  right: 20vw;
}

.contact .direk::after {
  content: "";
  width: 30px;
  height: 2vh;
  position: absolute;
  top: 0;
  left: -7.5px;
  border-radius: 10px;
  background-color: bisque;
}

.contact .direk a {
  position: absolute;
  background-color: blue;
  padding: 1rem 2rem;
  left: 0;
  bottom: 0;
  opacity: 0;
  display: block;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.contact .direk a i {
  font-size: 2rem;
  color: #fff;
}

.contact .direk.linkedin {
  right: 50vw;
}

.contact .direk.github {
  right: 80vw;
}

.responsive-arrow {
  display: none;
}

/*Responsive*/
@media only screen and (max-width: 1025px) {
  .mario {
    width: 200px;
    height: 240px;
  }
  .mario img {
    width: 200px;
    height: 240px;
  }
  .responsive-arrow {
    position: fixed;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem;
    width: 100vw;
    height: 10vh;
    z-index: 100;
  }
  .responsive-arrow i {
    background-color: rgba(0, 171, 0, 0.8);
    color: #fff;
    padding: 1.5rem !important;
    font-size: 2rem;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
}

@media only screen and (max-width: 770px) {
  .mario {
    width: 100px;
    height: 140px;
  }
  .mario img {
    width: 100px;
    height: 140px;
  }
  .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  h3 {
    font-size: 1.2rem !important;
  }
  p {
    font-size: 1rem !important;
  }
  i {
    padding: 0.4rem !important;
    margin: 0.2rem !important;
  }
  h2 {
    font-size: 1rem !important;
  }
  .cloud {
    width: 150px;
    height: 200px;
  }
  .big-cloud {
    width: 330px;
  }
  .big-cloud p {
    width: 260px;
  }
  .skills .cloud {
    width: 100px;
  }
}
/*# sourceMappingURL=style.css.map */